#include <physical_layouts.dtsi>

/ {
    physical_layout_flying_fox: physical_layout_flying_fox {
        compatible = "zmk,physical-layout";
        display-name = "Flying Fox";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   50   63       0    50    63>
            , <&key_physical_attrs 100 100  150   38       0   150    38>
            , <&key_physical_attrs 100 100  250   13       0   250    13>
            , <&key_physical_attrs 100 100  350    0       0   350     0>
            , <&key_physical_attrs 100 100  450   13       0   450    13>
            , <&key_physical_attrs 100 100  550   25       0   550    25>
            , <&key_physical_attrs 100 100 1300   25       0  1300    25>
            , <&key_physical_attrs 100 100 1400   13       0  1400    13>
            , <&key_physical_attrs 100 100 1500    0       0  1500     0>
            , <&key_physical_attrs 100 100 1600   13       0  1600    13>
            , <&key_physical_attrs 100 100 1700   38       0  1700    38>
            , <&key_physical_attrs 100 100 1800   63       0  1800    63>
            , <&key_physical_attrs 100 100   50  163       0    50   163>
            , <&key_physical_attrs 100 100  150  138       0   150   138>
            , <&key_physical_attrs 100 100  250  113       0   250   113>
            , <&key_physical_attrs 100 100  350  100       0   350   100>
            , <&key_physical_attrs 100 100  450  113       0   450   113>
            , <&key_physical_attrs 100 100  550  125       0   550   125>
            , <&key_physical_attrs 100 100 1300  125       0  1300   125>
            , <&key_physical_attrs 100 100 1400  113       0  1400   113>
            , <&key_physical_attrs 100 100 1500  100       0  1500   100>
            , <&key_physical_attrs 100 100 1600  113       0  1600   113>
            , <&key_physical_attrs 100 100 1700  138       0  1700   138>
            , <&key_physical_attrs 100 100 1800  163       0  1800   163>
            , <&key_physical_attrs 100 100   50  263       0    50   263>
            , <&key_physical_attrs 100 100  150  238       0   150   238>
            , <&key_physical_attrs 100 100  250  213       0   250   213>
            , <&key_physical_attrs 100 100  350  200       0   350   200>
            , <&key_physical_attrs 100 100  450  213       0   450   213>
            , <&key_physical_attrs 100 100  550  225       0   550   225>
            , <&key_physical_attrs 100 100 1300  225       0  1300   225>
            , <&key_physical_attrs 100 100 1400  213       0  1400   213>
            , <&key_physical_attrs 100 100 1500  200       0  1500   200>
            , <&key_physical_attrs 100 100 1600  213       0  1600   213>
            , <&key_physical_attrs 100 100 1700  238       0  1700   238>
            , <&key_physical_attrs 100 100 1800  263       0  1800   263>
            , <&key_physical_attrs 100 100  150  338       0   150   338>
            , <&key_physical_attrs 100 100  250  313       0   250   313>
            , <&key_physical_attrs 100 100  350  300       0   350   300>
            , <&key_physical_attrs 100 100  450  313       0   450   313>
            , <&key_physical_attrs 100 100  550  325       0   550   325>
            , <&key_physical_attrs 100 100 1300  325       0  1300   325>
            , <&key_physical_attrs 100 100 1400  313       0  1400   313>
            , <&key_physical_attrs 100 100 1500  300       0  1500   300>
            , <&key_physical_attrs 100 100 1600  313       0  1600   313>
            , <&key_physical_attrs 100 100 1700  338       0  1700   338>
            , <&key_physical_attrs 100 100  450  425       0   450   425>
            , <&key_physical_attrs 100 100  550  425       0   550   425>
            , <&key_physical_attrs 100 100  650  425       0   650   425>
            , <&key_physical_attrs 100 100 1200  425       0  1200   425>
            , <&key_physical_attrs 100 100 1300  425       0  1300   425>
            , <&key_physical_attrs 100 100 1400  425       0  1400   425>
            ;
    };
};
